i {
    color:#FF0000;
  }
  p b{
    color:#008000;
  }
  p.headerr {
    color:#0000FF;
  }
  h1.headerr {
    color:#00FFFF;
    font-weight:normal;
  }
  p#firstp{
    color:#0FFFFF;
  }
  body > h2 {
    color:#FFFFFF;
  }

  h1,h2,h3 {

  }

  {

  }
